@layer components {
  .focusable {
    @apply data-[focus-visible=true]:ring ring-primary-400 dark:ring-primary-400;
  }

  .focus-outline {
    @apply outline focus:outline-primary-400 dark:focus:outline-primary-400;
  }

  .focus-visible-outline {
    @apply outline focus-visible:outline-primary-400 dark:focus-visible:outline-primary-400;
  }
}

@layer components {
  .dialog {
    @apply bg-neutral-300/20 backdrop-blur-xl dark:bg-neutral-700
    rounded
    shadow-lg dark:shadow-neutral-700
    border border-neutral-200/70  dark:border-neutral-600;
  }
}

@layer components {
  .navbar-grid {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "logo settings"
      "navbar navbar";
  }

  @screen md {
    .navbar-grid {
      grid-template-columns: max-content auto max-content;
      grid-template-rows: 1fr;
      grid-template-areas: "logo navbar settings";
    }
  }
}
